data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="assignment" type="assignmentType"/>
  <xs:complexType name="assignmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="to"/>
      <xs:element type="xs:string" name="from"/>
      <xs:element type="xs:string" name="subject"/>
      <xs:element type="xs:string" name="message"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>